<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment"></head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth">
                <div class="card col-lg-6 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-center mb-5">
                            <img src="/assets/images/octocat-walk.gif" class="w-50 mb-1"/>
                            <div>임시 비밀번호 발급</div>
                        </h3>
                        <p class="text-danger" th:text="${result}"></p>
                        <form th:action="@{/member/find-password}" th:object="${member}" th:method="post">
                            <div class="form-group">
                                <label>Email</label>
                                <input th:field="*{memberEmail}" type="text" class="form-control p_input">
                            </div>
                            <div class="form-group">
                                <label>이름</label>
                                <input th:field="*{memberName}" type="text" class="form-control p_input">
                            </div>
                            <div class="text-center pt-5">
                                <button type="submit" class="btn btn-primary btn-block enter-btn">발급</button>
                                <button type="button" th:onclick="|location.href='@{/}'|" class="btn btn-dark btn-block enter-btn">뒤로</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>