<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment"></head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth">
                <div class="card col-lg-6 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-center mb-5">
                            <img src="/assets/images/octocat-walk.gif" class="w-50 mb-1"/>
                            <div>Sign Up</div>
                        </h3>
                        <p class="text-danger" th:text="${result}"></p>
                        <form id="memberInsertForm" th:action="@{/member/insert}" th:object="${member}" th:method="post">
                            <input type="hidden" name="memberStatus" value="Y">
                            <div class="form-group">
                                <label>Email</label>
                                <input th:field="*{memberEmail}" type="text" class="form-control p_input">
                                <p class="text-danger" th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}"></p>
                            </div>
                            <div class="form-group">
                                <label>패스워드</label>
                                <input th:field="*{memberPassword}" type="password" class="form-control p_input">
                                <p class="text-danger" th:if="${#fields.hasErrors('memberPassword')}" th:errors="*{memberPassword}"></p>
                            </div>
                            <div class="form-group">
                                <label>이름</label>
                                <input th:field="*{memberName}" type="text" class="form-control p_input">
                                <p class="text-danger" th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}"></p>
                            </div>
                            <div class="form-group">
                                <label>전화번호</label>
                                <input th:field="*{memberTel}" type="text" class="form-control p_input">
                                <p class="text-danger" th:if="${#fields.hasErrors('memberTel')}" th:errors="*{memberTel}"></p>
                            </div>
                            <div class="form-group">
                                <label>성별</label>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" th:field="*{memberGender}" value="M">
                                                남자
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" th:field="*{memberGender}" value="F">
                                                여자
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-danger" th:if="${#fields.hasErrors('memberGender')}" th:errors="*{memberGender}"></p>
                            </div>
                            <div class="form-group">
                                <label>생년월일</label>
                                <input th:field="*{memberBirth}" type="hidden">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <select class="form-control" th:field="*{memberBirthYyyy}">
                                            <option th:each="num : ${#numbers.sequence(1950, currentYear)}"
                                                    th:value="${num}"
                                                    th:text="${num}">연도</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" th:field="*{memberBirthMm}">
                                            <th:block th:each="num : ${#numbers.sequence(1, 9)}">
                                                <option th:text="|0${num}월|" th:value="|0${num}|">월</option>
                                            </th:block>
                                            <th:block th:each="num : ${#numbers.sequence(10, 12)}">
                                                <option th:text="|${num}월|" th:value="${num}">월</option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" th:field="*{memberBirthDd}">
                                            <th:block th:each="num : ${#numbers.sequence(1, 9)}">
                                                <option th:text="|0${num}일|" th:value="|0${num}|">일</option>
                                            </th:block>
                                            <th:block th:each="num : ${#numbers.sequence(10, 31)}">
                                                <option th:text="|${num}일|" th:value="${num}">일</option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                                <p class="text-danger" th:if="${#fields.hasErrors('memberBirth')}" th:errors="*{memberBirth}"></p>
                            </div>
                            <div class="pt-4 text-center">
                                <button type="button" onclick="javascript: insert();" class="btn btn-primary btn-block enter-btn">등록</button>
                                <button type="button" th:onclick="|location.href='@{/}'|" class="btn btn-dark btn-block enter-btn">뒤로</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function insert() {
        $('#memberBirth').val($('#memberBirthYyyy').val() + $('#memberBirthMm').val() + $('#memberBirthDd').val());
        $('#memberInsertForm').submit();
    }
</script>
</body>
</html>