<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment"></head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">사용자 정보</h4>
                        <form id="form">
                            <input type="hidden" id="memberId" name="memberId">
                            <input type="hidden" id="memberName" name="memberName">
                        </form>
                        <div class="table-responsive py-xl-5">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th th:width="100">이름</th>
                                        <th th:width="400">이메일</th>
                                        <th th:width="200">생년월일</th>
                                        <th th:width="100">성별</th>
                                        <th th:width="400">전화번호</th>
                                        <th th:width="100" th:class="text-center">메시지</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="member : ${memberList}">
                                        <td th:text="${member.memberName}">이름</td>
                                        <td th:text="${member.memberEmail}">이메일</td>
                                        <td th:text="${@commonUtils.dateFormatYmd(member.memberBirth, '-')}">생년월일</td>
                                        <td th:text="${member.memberGender == 'M' ? '남자' : '여자'}">성별</td>
                                        <td th:text="${member.memberTel}">전화번호</td>
                                        <td th:class="text-center">
                                            <i th:onclick="send([[${member.memberId}]], [[${member.memberName}]])" class="mdi mdi-email custom-link"></i>
                                        </td>
                                    </tr>
                                    <tr th:if="${memberList == null || memberList.size() == 0}">
                                        <td th:colspan="6" class="text-center">조회 결과가 없습니다.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function send(recvId, recvName) {
            $('#memberId').val(recvId);
            $('#memberName').val(recvName);
            $('#form').attr('method', 'get').attr('action', '/messages/send').submit();
        }
    </script>
</div>
</body>
</html>