<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="choi.web.springboot.repository.mybatismain.SampleMainRepository">

    <select id="findByFirstRow" resultType="choi.web.springboot.domain.Sample">
        SELECT * FROM sample WHERE ROWNUM = 1
    </select>

    <insert id="insert" parameterType="choi.web.springboot.domain.Sample">
        INSERT INTO SAMPLE (SAMPLE_ID, NUM_COLUMN1, NUM_COLUMN2, NUM_COLUMN3, NUM_COLUMN4, NUM_COLUMN5,
                            STR_COLUMN1, STR_COLUMN2, STR_COLUMN3, STR_COLUMN4, STR_COLUMN5,
                            DATE_COLUMN1, DATE_COLUMN2, DATE_COLUMN3)
        VALUES (SAMPLE_SEQ.nextval, #{numColumn1}, #{numColumn2}, #{numColumn3}, #{numColumn4}, #{numColumn5},
                #{strColumn1}, #{strColumn2}, #{strColumn3}, #{strColumn4}, #{strColumn5},
                #{dateColumn1}, #{dateColumn2}, #{dateColumn3})
    </insert>

    <update id="update" parameterType="choi.web.springboot.domain.Sample">
        UPDATE sample
        <set>
            <if test="numColumn1 != null and numColumn1 != ''">
                num_column1 = #{numColumn1},
            </if>
            <if test="numColumn2 != null and !''.equals(numColumn2)">
                num_column2 = #{numColumn2},
            </if>
        </set>
        WHERE sample_id = #{sampleId}
    </update>

    <select id="findResult" resultType="string">
        SELECT member_email FROM member WHERE member_id = 1
    </select>

</mapper>