<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="sidebarFragment" class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo text-white text-decoration-none" href="/main">Choi's WEB</a>
            <a class="sidebar-brand brand-logo-mini" href="/main">
                <img src="/assets/images/logo-mini.svg"/>
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator">
                            <img class="img-xs rounded-circle " src="/assets/images/faces-clipart/pic-1.png">
                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name">
                            <h5 class="mb-0 font-weight-normal" th:text="${session.loginUser.userName}">User Name</h5>
                            <span th:text="${session.loginUser.userEmail}">User Email</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <span class="menu-icon">
                        <i class="mdi mdi-laptop"></i>
                    </span>
                    <span class="menu-title">게시판</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/notiBoard}">공지사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sub Menu</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/shortcut}">
                    <span class="menu-icon">
                        <i class="mdi mdi-link-variant"></i>
                    </span>
                    <span class="menu-title">Shortcut</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{https://github.com/Young-Geun}">
                    <span class="menu-icon">
                        <i class="mdi mdi-github-circle"></i>
                    </span>
                    <span class="menu-title">GitHub</span>
                </a>
            </li>
        </ul>
    </nav>
</html>