<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="sidebarFragment" class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo text-white text-decoration-none" href="/main">Choi's WEB</a>
            <a class="sidebar-brand brand-logo-mini" href="/main">
                <img src="/assets/images/logo-mini.svg"/>
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator">
                            <img th:src="|/member/profile?memberId=${session.loginMember.memberId}|" class="img-xs rounded-circle">
                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name">
                            <h5 class="mb-0 font-weight-normal" th:text="${session.loginMember.memberName}">Name</h5>
                            <span th:text="${session.loginMember.memberEmail}">Email</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/board/list}">
                    <span class="menu-icon">
                        <i class="mdi mdi-bulletin-board"></i>
                    </span>
                    <span class="menu-title">게시판</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#messages" aria-expanded="false" aria-controls="messages">
                    <span class="menu-icon">
                        <i class="mdi mdi-email-outline"></i>
                    </span>
                    <span class="menu-title">Messages</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="messages">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/messages/recvList}">받은 메시지</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/messages/sendList}">보낸 메시지</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/chart/list}">
                    <span class="menu-icon">
                        <i class="mdi mdi-chart-bar"></i>
                    </span>
                    <span class="menu-title">통계</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#sample" aria-expanded="false" aria-controls="sample">
                    <span class="menu-icon">
                        <i class="mdi mdi-book-open-page-variant"></i>
                    </span>
                    <span class="menu-title">샘플코드</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="sample">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/sample/thymeleaf}">타임리프</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/sample/messages(lang=ko)}">메시지 및 국제화</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/sample/scroll}">Scroll</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/sample/drag-to-scroll}">Drag to scroll</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/sample/click-to-scroll}">Click to scroll</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/sample/mybatis}">Mybatis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/sample/resize}">Resize</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="javascript: window.open('https://github.com/Young-Geun')">
                    <span class="menu-icon">
                        <i class="mdi mdi-github-circle"></i>
                    </span>
                    <span class="menu-title">GitHub</span>
                </a>
            </li>
        </ul>
    </nav>
</html>