<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<body>
<div class="content-wrapper" layout:fragment="content">
    <div class="page-header">
        <h3 class="page-title">Retry</h3>
    </div>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">수행 결과 (오류발생 조건 : result % 5 == 0)</h4>
                    <div th:text="|${result} 번째 수행|">수행 카운트</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>