<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<body>
<div class="content-wrapper" layout:fragment="content">
    <div class="page-header">
        <h3 class="page-title">샘플코드</h3>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive py-xl-5">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>타임리프 Index</th>
                                <th>타임리프 Count</th>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>타입</th>
                                <th>값1</th>
                                <th>값2</th>
                                <th>값3</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="list, i : ${testList}">
                                <td th:if="${i.index == 0}" th:rowspan="${testList.size()}">조회<br>리스트</td>
                                <td th:text="${i.index}">아이디</td>
                                <td th:text="${i.count}">Index</td>
                                <td th:text="${list.testId}">Count</td>
                                <td th:text="${list.testName}">이름</td>
                                <td th:text="${list.testType}">타입</td>
                                <td th:text="${list.testNum1}">값1</td>
                                <td th:text="${list.testNum2}">값2</td>
                                <td th:text="${list.testNum3}">값3</td>
                            </tr>
                            <tr>
                                <td th:colspan="6">타입1 합계</td>
                                <td th:text="${#aggregates.sum(testList.?[testType==1].![testNum1])}">값1</td>
                                <td th:text="${#aggregates.sum(testList.?[testType==1].![testNum2])}">값2</td>
                                <td th:text="${#aggregates.sum(testList.?[testType==1].![testNum3])}">값3</td>
                            </tr>
                            <tr>
                                <td th:colspan="6">타입2 합계</td>
                                <td th:text="${#aggregates.sum(testList.?[testType==2].![testNum1])}">값1</td>
                                <td th:text="${#aggregates.sum(testList.?[testType==2].![testNum2])}">값2</td>
                                <td th:text="${#aggregates.sum(testList.?[testType==2].![testNum3])}">값3</td>
                            </tr>
                            <tr>
                                <td th:colspan="6">타입3 합계</td>
                                <td th:text="${#aggregates.sum(testList.?[testType==3].![testNum1])}">값1</td>
                                <td th:text="${#aggregates.sum(testList.?[testType==3].![testNum2])}">값2</td>
                                <td th:text="${#aggregates.sum(testList.?[testType==3].![testNum3])}">값3</td>
                            </tr>
                            <tr>
                                <td th:colspan="6">전체 합계</td>
                                <td th:text="${#aggregates.sum(testList.![testNum1])}">값1</td>
                                <td th:text="${#aggregates.sum(testList.![testNum2])}">값2</td>
                                <td th:text="${#aggregates.sum(testList.![testNum3])}">값3</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" th:with="existA='N', existZ='N'">
                    <h4 class="card-title">타임리프 변수 재바인딩</h4>
                    <div class="table-responsive py-xl-5">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th th:class="text-center">알파벳</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="alphabet : ${alphabetList}">
                                <th:block th:if="${alphabet == 'a'}">
                                    <th:block th:with="existA='Y'"></th:block>
                                </th:block>
                                <th:block th:if="${alphabet == 'z'}">
                                    <th:block th:with="existZ='Y'"></th:block>
                                </th:block>
                                <td th:class="text-center" th:text="${alphabet}">알파벳</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        a 존재여부 :
                        <span th:text="${existA}">a 존재여부</span>
                    </div>
                    <div>
                        z 존재여부 :
                        <span th:text="${existZ}">z 존재여부</span>
                    </div>
                    <div>
                        결론 : 타임리프는 재바인딩이 불가능하다.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">커스텀 함수</h4>
                    <div class="table-responsive py-xl-5">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th th:class="text-center">변경 전</th>
                                <th th:class="text-center">변경 후</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="list : ${numList}">
                                <td th:class="text-center" th:text="${list}">변경 전</td>
                                <td th:class="text-center" th:text="${@commonUtils.numberFormat(list)}">변경 후</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">0 비교</h4>
                    <div class="table-responsive py-xl-5">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th th:class="text-center">데이터</th>
                                <th th:class="text-center">비교결과(value == 0)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:class="text-center" th:text="${intNum1}">데이터</td>
                                <td th:class="text-center" th:text="${intNum1 == 0}">비교결과</td>
                            </tr>
                            <tr>
                                <td th:class="text-center" th:text="${intNum2}">데이터</td>
                                <td th:class="text-center" th:text="${intNum2 == 0}">비교결과</td>
                            </tr>
                            <tr>
                                <td th:class="text-center" th:text="${doubleNum1}">데이터</td>
                                <td th:class="text-center" th:text="${doubleNum1 == 0}">비교결과</td>
                            </tr>
                            <tr>
                                <td th:class="text-center" th:text="${doubleNum2}">데이터</td>
                                <td th:class="text-center" th:text="${doubleNum2 == 0}">비교결과</td>
                            </tr>
                            <tr>
                                <td th:class="text-center" th:text="${longNum1}">데이터</td>
                                <td th:class="text-center" th:text="${longNum1 == 0}">비교결과</td>
                            </tr>
                            <tr>
                                <td th:class="text-center" th:text="${longNum2}">데이터</td>
                                <td th:class="text-center" th:text="${longNum2 == 0}">비교결과</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">반올림</h4>
                    <div class="table-responsive py-xl-5">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th th:class="text-center">데이터</th>
                                <th th:class="text-center">반올림</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:class="text-center" th:text="${roundsTest1}">데이터</td>
                                <td th:class="text-center" th:text="${#numbers.formatInteger(roundsTest1, 0, 'COMMA')}">반올림</td>
                            </tr>
                            <tr>
                                <td th:class="text-center" th:text="${roundsTest2}">데이터</td>
                                <td th:class="text-center" th:text="${#numbers.formatInteger(roundsTest2, 0, 'COMMA')}">반올림</td>
                            </tr>
                            <tr>
                                <td th:class="text-center" th:text="${roundsTest3}">데이터</td>
                                <td th:class="text-center" th:text="${#numbers.formatInteger(roundsTest3, 0, 'COMMA')}">반올림</td>
                            </tr>
                            <tr>
                                <td th:class="text-center" th:text="${roundsTest4}">데이터</td>
                                <td th:class="text-center" th:text="${#numbers.formatInteger(roundsTest4, 0, 'COMMA')}">반올림</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" th:with="existA='N', existZ='N'">
                    <h4 class="card-title">타임리프 상태 변수</h4>
                    <div class="table-responsive py-xl-5">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th th:class="text-center">알파벳</th>
                                <th th:class="text-center">index</th>
                                <th th:class="text-center">count</th>
                                <th th:class="text-center">size</th>
                                <th th:class="text-center">even</th>
                                <th th:class="text-center">odd</th>
                                <th th:class="text-center">first</th>
                                <th th:class="text-center">last</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="alphabet : ${alphabetList}">
                                <td th:class="text-center" th:text="${alphabet}">알파벳</td>
                                <td th:class="text-center" th:text="${alphabetStat.index}">index</td>
                                <td th:class="text-center" th:text="${alphabetStat.count}">count</td>
                                <td th:class="text-center" th:text="${alphabetStat.size}">size</td>
                                <td th:class="text-center" th:text="${alphabetStat.even}">even</td>
                                <td th:class="text-center" th:text="${alphabetStat.odd}">odd</td>
                                <td th:class="text-center" th:text="${alphabetStat.first}">first</td>
                                <td th:class="text-center" th:text="${alphabetStat.last}">last</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        상태변수는 기본적으로 '오브젝트명 + "Stat"' 형태의 변수명을 갖는다.<br>
                        문법의 형태가 다음과 같다면,<br>
                        th:each="alphabet : ${alphabetList}"<br>
                        'alphabetStat.index'와 같은 형태로 사용할 수 있다.<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" th:with="existA='N', existZ='N'">
                    <h4 class="card-title">타임리프 상태 변수</h4>
                    <div class="table-responsive py-xl-5">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th th:class="text-center">알파벳</th>
                                <th th:class="text-center">index</th>
                                <th th:class="text-center">count</th>
                                <th th:class="text-center">size</th>
                                <th th:class="text-center">even</th>
                                <th th:class="text-center">odd</th>
                                <th th:class="text-center">first</th>
                                <th th:class="text-center">last</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="alphabet, i : ${alphabetList}">
                                <td th:class="text-center" th:text="${alphabet}">알파벳</td>
                                <td th:class="text-center" th:text="${i.index}">index</td>
                                <td th:class="text-center" th:text="${i.count}">count</td>
                                <td th:class="text-center" th:text="${i.size}">size</td>
                                <td th:class="text-center" th:text="${i.even}">even</td>
                                <td th:class="text-center" th:text="${i.odd}">odd</td>
                                <td th:class="text-center" th:text="${i.first}">first</td>
                                <td th:class="text-center" th:text="${i.last}">last</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        상태변수는 개발자가 직접 명명할 수도 있다.<br>
                        문법의 형태가 다음과 같다면,<br>
                        th:each="alphabet, i : ${alphabetList}"<br>
                        'i.index'와 같은 형태로 사용할 수 있다.<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">데이터 속성</h4>
                    <div class="table-responsive py-xl-5">
                        <div id="attr1" th:data-firstValue="1" th:data-secondValue="2">속성 1 (th:data-firstValue="1" th:data-secondValue="2")</div>
                        <div id="attr2" th:attr="data-firstValue='3', data-secondValue='4'">속성 2 (th:attr="data-firstValue='3', data-secondValue='4'")</div>
                        <button type="button" class="btn btn-primary mt-4" onclick="show()">값 확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function show() {
            // 속성 1의 값
            var firstValue1 = $("#attr1").attr("data-firstValue");
            var secondValue1 = $("#attr1").attr("data-secondValue");

            // 속성 2의 값
            var firstValue2 = $("#attr2").attr("data-firstValue");
            var secondValue2 = $("#attr2").attr("data-secondValue");

            alert(firstValue1 + ', ' + secondValue1);
            alert(firstValue2 + ', ' + secondValue2);
        }
    </script>
</div>
</body>
</html>