<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: headFragment"></head>
<body>
<div class="container-scroller">
    <nav th:replace="fragments/sidebar.html :: sidebarFragment"></nav>
    <div class="container-fluid page-body-wrapper">
        <nav th:replace="fragments/top.html :: topbarFragment"></nav>
        <div class="main-panel">
            <!-- contents -->
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">Shortcut</h3>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="row icons-list">
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="mdi mdi-google"></i>
                                        <a th:href="@{https://www.google.com/}">Google</a>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="mdi mdi-internet-explorer"></i>
                                        <a th:href="@{https://www.naver.com/}">NAVER</a>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="mdi mdi-youtube"></i>
                                        <a th:href="@{https://www.youtube.com/}">YouTube</a>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="mdi mdi-github-circle"></i>
                                        <a th:href="@{https://github.com/}">GitHub</a>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="mdi mdi-facebook-box"></i>
                                        <a th:href="@{https://www.facebook.com/}">Facebook</a>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="mdi mdi-instagram"></i>
                                        <a th:href="@{https://www.instagram.com/}">Instagram</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/footer.html :: footerFragment"></footer>
        </div>
    </div>
</div>
</body>
</html>