<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: headFragment"></head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-left mb-3">Sign Up</h3>
                        <p class="text-danger" th:text="${result}"></p>
                        <form th:action="@{/registUser}" th:object="${user}" th:method="post">
                            <div class="form-group">
                                <label>Email</label>
                                <input th:field="*{userId}" type="text" class="form-control p_input">
                                <p class="text-danger" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></p>
                            </div>
                            <div class="form-group">
                                <label>이름</label>
                                <input th:field="*{userName}" type="text" class="form-control p_input">
                                <p class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
                            </div>
                            <div class="form-group">
                                <label>패스워드</label>
                                <input th:field="*{userPassword}" type="password" class="form-control p_input">
                                <p class="text-danger" th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}"></p>
                            </div>
                            <div class="form-group">
                                <label>패스워드 확인</label>
                                <input th:field="*{userPasswordCert}" type="password" class="form-control p_input">
                                <p class="text-danger" th:if="${#fields.hasErrors('samePassword')}" th:errors="*{samePassword}"></p>
                            </div>
                            <div class="pt-4 text-center">
                                <button type="submit" class="btn btn-primary btn-block enter-btn">등록</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>