<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="choi.web.springboot.repository.mybatissub.LedgerRepository">

    <select id="findTotalCount" resultType="int" parameterType="choi.web.springboot.domain.Ledger">
        SELECT COUNT(1)
        FROM ledger
        WHERE member_id = #{memberId}
        AND TO_CHAR(trans_date, 'YYYYMM') = #{searchDate}
    </select>

    <select id="findAll" resultType="choi.web.springboot.domain.Ledger" parameterType="choi.web.springboot.domain.Ledger">
        SELECT ledger_id,
               member_id,
               trans_date,
               ( CASE trans_type
                     WHEN '0000' THEN '기타'
                     WHEN '0001' THEN '식비'
                     WHEN '0002' THEN '문화생활'
                     WHEN '0003' THEN '교통비'
                     WHEN '0004' THEN '통신비'
                     WHEN '0005' THEN '카드'
                     WHEN '0006' THEN '저축/투자'
                     WHEN '0007' THEN '교육'
                 END
               ) AS trans_type,
               trans_amount,
               trans_comment
        FROM ledger
        WHERE member_id = #{memberId}
        AND TO_CHAR(trans_date, 'YYYYMM') = #{searchDate}
        ORDER BY trans_date desc
        LIMIT #{currentPage}, 10
    </select>

</mapper>