<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="choi.web.springboot.repository.mybatissub.LedgerRepository">

    <select id="findTotalCount" resultType="int" parameterType="choi.web.springboot.domain.Ledger">
        SELECT COUNT(1)
        FROM ledger
        WHERE member_id = #{memberId}
        AND TO_CHAR(trans_date, 'YYYYMM') = #{searchDate}
    </select>

    <select id="findAll" resultType="choi.web.springboot.domain.Ledger" parameterType="choi.web.springboot.domain.Ledger">
        SELECT ledger_id,
               member_id,
               trans_date,
               ( CASE trans_type
                     WHEN '0000' THEN '기타'
                     WHEN '0001' THEN '식비'
                     WHEN '0002' THEN '문화생활'
                     WHEN '0003' THEN '교통비'
                     WHEN '0004' THEN '통신비'
                     WHEN '0005' THEN '카드'
                     WHEN '0006' THEN '저축/투자'
                     WHEN '0007' THEN '교육'
                 END
               ) AS trans_type,
               trans_amount,
               trans_comment
        FROM ledger
        WHERE member_id = #{memberId}
        AND TO_CHAR(trans_date, 'YYYYMM') = #{searchDate}
        ORDER BY trans_date desc
        LIMIT #{currentPage}, 10
    </select>

    <select id="findSummary" resultType="choi.web.springboot.domain.Ledger" parameterType="long">
        WITH RECURSIVE date_table as (
            SELECT '2022-01-01' as dt
            UNION
            SELECT DATE_ADD(date_table.dt, INTERVAL 1 DAY) FROM date_table WHERE DATE_ADD(date_table.dt, INTERVAL 1 DAY) <![CDATA[ <= ]]> now()
        )
        SELECT IF(yyyymm IS NULL, '총 합계', IF(yyyymmdd IS NULL, CONCAT(SUBSTR(yyyymm, 1, 4), '-', SUBSTR(yyyymm, 5, 6), '월 합계'), DATE_FORMAT(yyyymmdd, '%Y-%m-%d'))) trans_date_fmt,
               SUM(trans_amount) sum_trans_amount,
               SUM(trans_amount_0000) sum_trans_amount_0000,
               SUM(trans_amount_0001) sum_trans_amount_0001,
               SUM(trans_amount_0002) sum_trans_amount_0002,
               SUM(trans_amount_0003) sum_trans_amount_0003,
               SUM(trans_amount_0004) sum_trans_amount_0004,
               SUM(trans_amount_0005) sum_trans_amount_0005,
               SUM(trans_amount_0006) sum_trans_amount_0006,
               SUM(trans_amount_0007) sum_trans_amount_0007
        FROM (
                SELECT  TO_CHAR(t1.dt_fmt, 'yyyyMM') yyyymm,
                        TO_CHAR(t1.dt_fmt, 'yyyyMMdd') yyyymmdd,
                        SUM(t1.trans_amount) trans_amount,
                        SUM(IF(t1.trans_type = '0000', t1.trans_amount, 0)) trans_amount_0000,
                        SUM(IF(t1.trans_type = '0001', t1.trans_amount, 0)) trans_amount_0001,
                        SUM(IF(t1.trans_type = '0002', t1.trans_amount, 0)) trans_amount_0002,
                        SUM(IF(t1.trans_type = '0003', t1.trans_amount, 0)) trans_amount_0003,
                        SUM(IF(t1.trans_type = '0004', t1.trans_amount, 0)) trans_amount_0004,
                        SUM(IF(t1.trans_type = '0005', t1.trans_amount, 0)) trans_amount_0005,
                        SUM(IF(t1.trans_type = '0006', t1.trans_amount, 0)) trans_amount_0006,
                        SUM(IF(t1.trans_type = '0007', t1.trans_amount, 0)) trans_amount_0007
                FROM (
                        SELECT DATE_FORMAT(date_table.dt, '%Y%m%d') dt_fmt,
                               trans_type,
                               IF(trans_amount is null, 0, trans_amount) trans_amount
                        FROM date_table LEFT OUTER JOIN ledger
                        ON DATE_FORMAT(date_table.dt, '%Y%m%d') = TO_CHAR(trans_date, 'yyyyMMdd')
                        AND member_id = 1
                     ) t1
                GROUP BY DATE_FORMAT(t1.dt_fmt, '%Y%m%d')
             ) t2
        GROUP BY t2.yyyymm, t2.yyyymmdd
        WITH ROLLUP
    </select>

    <select id="findById" resultType="choi.web.springboot.domain.Ledger" parameterType="long">
        SELECT ledger_id,
               member_id,
               trans_date,
               trans_type,
               trans_amount,
               trans_comment
        FROM ledger
        WHERE ledger_id = #{ledgerId}
    </select>

    <insert id="save" parameterType="choi.web.springboot.domain.Ledger">
        INSERT INTO ledger (member_id, trans_date, trans_type, trans_amount, trans_comment)
        VALUES (#{memberId}, #{transDate}, #{transType}, #{transAmount}, #{transComment})
    </insert>

    <update id="update" parameterType="choi.web.springboot.domain.Ledger">
        UPDATE ledger
        SET trans_date = #{transDate},
            trans_type = #{transType},
            trans_amount = #{transAmount},
            trans_comment = #{transComment}
        WHERE ledger_id = #{ledgerId}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE
        FROM ledger
        WHERE ledger_id = #{ledgerId}
    </delete>

</mapper>