<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="choi.web.springboot.repository.mybatissub.LedgerRepository">

    <select id="findTotalCount" resultType="int" parameterType="choi.web.springboot.domain.Ledger">
        SELECT COUNT(1)
        FROM ledger
        WHERE member_id = #{memberId}
        AND TO_CHAR(trans_date, 'YYYYMM') = #{searchDate}
    </select>

    <select id="findAll" resultType="choi.web.springboot.domain.Ledger" parameterType="choi.web.springboot.domain.Ledger">
        SELECT ledger_id,
               member_id,
               trans_date,
               ( CASE trans_type
                     WHEN '0000' THEN '기타'
                     WHEN '0001' THEN '식비'
                     WHEN '0002' THEN '문화생활'
                     WHEN '0003' THEN '교통비'
                     WHEN '0004' THEN '통신비'
                     WHEN '0005' THEN '카드'
                     WHEN '0006' THEN '저축/투자'
                     WHEN '0007' THEN '교육'
                 END
               ) AS trans_type,
               trans_amount,
               trans_comment
        FROM ledger
        WHERE member_id = #{memberId}
        AND TO_CHAR(trans_date, 'YYYYMM') = #{searchDate}
        ORDER BY trans_date desc
        LIMIT #{currentPage}, 10
    </select>

    <select id="findSummary" resultType="choi.web.springboot.domain.Ledger" parameterType="long">
        SELECT IF(yyyymm IS NULL, '총 합계', IF(yyyymmdd IS NULL, CONCAT(SUBSTR(yyyymm, 1, 4), '-', SUBSTR(yyyymm, 5, 6), '월 합계'), DATE_FORMAT(yyyymmdd, '%Y-%m-%d'))) trans_date_fmt,
               IF(yyyymmdd IS NULL, SUM(t.trans_amount), t.trans_amount) trans_amount
        FROM (
                 SELECT  TO_CHAR(trans_date, 'yyyyMMdd') yyyymmdd,
                         TO_CHAR(trans_date, 'yyyyMM') yyyymm,
                         sum(trans_amount) trans_amount
                 FROM ledger
                 WHERE member_id = #{memberId}
                 GROUP BY TO_CHAR(trans_date, 'yyyyMMdd')
             ) t
        GROUP BY t.yyyymm, t.yyyymmdd
        WITH ROLLUP;
    </select>

    <select id="findById" resultType="choi.web.springboot.domain.Ledger" parameterType="long">
        SELECT ledger_id,
               member_id,
               trans_date,
               trans_type,
               trans_amount,
               trans_comment
        FROM ledger
        WHERE ledger_id = #{ledgerId}
    </select>

    <insert id="save" parameterType="choi.web.springboot.domain.Ledger">
        INSERT INTO ledger (member_id, trans_date, trans_type, trans_amount, trans_comment)
        VALUES (#{memberId}, #{transDate}, #{transType}, #{transAmount}, #{transComment})
    </insert>

    <update id="update" parameterType="choi.web.springboot.domain.Ledger">
        UPDATE ledger
        SET trans_date = #{transDate},
            trans_type = #{transType},
            trans_amount = #{transAmount},
            trans_comment = #{transComment}
        WHERE ledger_id = #{ledgerId}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE
        FROM ledger
        WHERE ledger_id = #{ledgerId}
    </delete>

</mapper>