<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="choi.web.springboot.repository.MemberRepository">

    <select id="selectOne" resultType="choi.web.springboot.domain.Member">
        SELECT member_id,
               member_email,
               member_password,
               member_password member_password_cert,
               member_name,
               member_status
        FROM member
        WHERE member_email = #{memberEmail}
        AND member_password = #{memberPassword}
    </select>

    <select id="selectExistOne" resultType="choi.web.springboot.domain.Member">
        SELECT member_id,
               member_email,
               member_password,
               member_password member_password_cert,
               member_name,
               member_status
        FROM member
        <where>
            <if test="memberEmail != null and memberEmail !=''">
                and member_email = #{memberEmail}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="choi.web.springboot.domain.Member">
        INSERT INTO member (
            member_id,
            member_email,
            member_password,
            member_name,
            member_status
        )
        VALUES (
            (SELECT MAX(member_id) + 1 FROM member),
            #{memberEmail},
            #{memberPassword},
            #{memberName},
            'Y'
        )
    </insert>

    <update id="update" parameterType="choi.web.springboot.domain.Member">
        UPDATE member
        SET member_name = #{memberName},
            member_password = #{memberPassword}
        WHERE member_id = #{memberId}
    </update>

</mapper>