<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="choi.web.springboot.repository.MessagesRepository">

    <select id="selectMessagesList" resultType="choi.web.springboot.domain.Messages">
        SELECT messages_id,
               send_id,
               recv_id,
               messages
        FROM messages
    </select>

</mapper>