<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="choi.web.springboot.repository.MessagesRepository">

    <select id="selectAll" resultType="choi.web.springboot.domain.Messages" parameterType="choi.web.springboot.domain.Messages">
        SELECT messages_id,
               send_id,
               (SELECT member_name FROM member WHERE member_id = send_id) send_name,
               recv_id,
               messages,
               send_date
        FROM messages
        <where>
            <if test="recvId != null and recvId !=''">
                and recv_id = #{recvId}
            </if>
        </where>
    </select>

</mapper>