<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="choi.web.springboot.repository.TodoRepository">

    <select id="selectTodoList" resultType="choi.web.springboot.domain.Todo" parameterType="choi.web.springboot.domain.Todo">
        SELECT todo_id,
               contents,
               reg_id,
               complete_flag
        FROM todo_list
        <where>
            <if test="regId != null and regId !=''">
                and reg_id = #{regId}
            </if>
        </where>
    </select>

    <insert id="insertTodo" parameterType="choi.web.springboot.domain.Todo">
        INSERT INTO todo_list
        (
            todo_id,
            contents,
            reg_id,
            complete_flag
        )
        VALUES
        (  CASE WHEN (SELECT MAX(t1.todo_id) FROM todo_list t1) IS NULL
                THEN 1
                ELSE (SELECT MAX(t2.todo_id) + 1 FROM todo_list t2)
           END,
           #{contents},
           #{regId},
           'N'
        )
    </insert>

    <delete id="deleteTodo" parameterType="choi.web.springboot.domain.Todo">
        DELETE FROM todo_list
        WHERE todo_id = #{todoId}
        AND reg_id = #{regId}
    </delete>

    <update id="updateTodo" parameterType="choi.web.springboot.domain.Todo">
        UPDATE todo_list
        SET complete_flag = #{completeFlag}
        WHERE todo_id = #{todoId}
        AND reg_id = #{regId}
    </update>

</mapper>