<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="choi.web.springboot.repository.UserRepository">

    <select id="selectUser" resultType="choi.web.springboot.domain.User">
        SELECT user_id,
               user_password,
               user_password user_password_cert,
               user_name,
               user_status
        FROM user_info
        WHERE user_id = #{userId}
        AND user_password = #{userPassword}
    </select>

    <select id="selectExistUser" resultType="choi.web.springboot.domain.User">
        SELECT user_id,
        user_password,
        user_password user_password_cert,
        user_name,
        user_status
        FROM user_info
        <where>
            <if test="userId != null and userId !=''">
                and user_id = #{userId}
            </if>
        </where>
    </select>

    <insert id="registUser" parameterType="choi.web.springboot.domain.User">
        INSERT INTO user_info (
            user_id,
            user_password,
            user_name,
            user_status
        )
        VALUES (
            #{userId},
            #{userPassword},
            #{userName},
            '1'
        )
    </insert>

</mapper>